

<app-banner></app-banner>

<div class="container between-xs ">
  <div class="row box">
    <div class="col-xs">
      <div class="box">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar >
              <mat-icon>shopping_cart</mat-icon>
            </div>
            <mat-card-title>Los mejores Productos</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-raised-button color="primary">Ver mas</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="col-xs">
      <div class="box">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar >
              <mat-icon>shopping_cart</mat-icon>
            </div>
            <mat-card-title>Increibles Descuentos</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-raised-button color="primary">Ver mas</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="col-xs">
      <div class="box">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar >
              <mat-icon>shopping_cart</mat-icon>
            </div>
            <mat-card-title>Paga en Efectivo</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-raised-button color="primary">Ver mas</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

</div>
